APP_NAME="Clothing Store API"
ENVIRONMENT=development
DEBUG=true

MONGODB_URI=mongodb://shop_user:shop_password@localhost:27017/clothing_store?authSource=admin
MONGODB_DB_NAME=clothing_store

JWT_SECRET_KEY=tajny_klucz
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30